<a href="https://colab.research.google.com/github/Guru1378/Python-libraries/blob/main/Task_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [7]:
a=pd.Series([1,2,3,4,5,6])
b=pd.Series([1,2,3,4,5,6])

In [8]:
print(a+b)

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

In [9]:
print(a-b)

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [10]:
print(a==b)

0    True
1    True
2    True
3    True
4    True
5    True
dtype: bool

In [11]:
print(a>b)

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [12]:
print(a<b)

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [13]:
print(a!=b)

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [14]:
def change_dtypes(series):
  return pd.to_numeric(series,errors='coerce')
series=pd.Series([1,2,"Guru",True,100])
change_dtypes(series)

0      1.0
1      2.0
2      NaN
3      1.0
4    100.0
dtype: float64

In [15]:
print(a)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [16]:
print(b)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [17]:
print(a%b)

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [18]:
print(a/b)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
dtype: float64